<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidannotationsdemo"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kent.annotationsdemo.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.a.enhanced_components.AActy_"></activity>
        <activity android:name="com.b.injection.BActy_"></activity>
        <activity android:name="com.c.event_binding.CActy_"></activity>
        <activity android:name="com.d.threading.DActy_"></activity>
        <activity android:name="com.e.misc.EActy_"></activity>
        <activity android:name="com.f.resource_injection.Facty_"></activity>
        <activity android:name="com.g.rest_api.GActy_"></activity>
        <activity android:name="com.h.typesafe_sharedpreferences.HActy_"></activity>
        <activity android:name="com.i.preference_api_helpers.IActy_"></activity>
    </application>

</manifest>
